@media (max-width: 768px) {
    .main-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }



    .menu-btn {
        display: block;
        margin-right: 1rem;
    }

    .close-btn {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column;
        background-color: #000000;
        position: fixed;
        top: 0;
        right: 0;
        width: 33%;
        height: 100%;
        padding: 10px 0;
        transition: all 0.3s ease-in-out;
        opacity: 1;
        transform: translateX(100%);
        z-index: 1000;
        margin: 0;

    }

    nav.active {
        display: flex;
        transform: translateX(0);
    }    

    nav a {
        text-align: center;
        padding: 10px;
        font-size: 1.2rem;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .menu a:focus {
        outline: 2px solid yellow;
        outline-offset: 2px;
    }

    .menu-btn {
        font-size: 36px;
        color: greenyellow;
        background: #444444;
        border: none;
        cursor: pointer;
    }
}


@media (max-width: 480px) {

    html, body {
        width: 100%;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .menu a:focus {
        outline: 2px solid yellow;
        outline-offset: 2px;
    }

    .menu-btn {
        font-size: 36px;
        color: greenyellow;
        background: #444444;
        border: none;
        cursor: pointer;
    }
}